body{
    font-family: 'Play', sans-serif;
}

div a{
    text-decoration: none;
}

h2{
    font-weight: 600;
    font-size: 25px;
}

p{
    text-align: center;
}

span#city, span#degrees {
    font-size: 45px;
    font-weight: bold;
}

#description::first-letter {
    text-transform: capitalize;
}

.active{
    color: black;
    cursor: default;
}
.active:hover{
    color: black;
}

.container{
    background-image: url(../img/mario-bros-bg.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #ADE5FE;
    padding: 15px 15px 165px;
    max-width: 700px;
}

.forecast{
    padding-left: 0px;
}

.forecast li{
    list-style: none;
}

.locations{
    padding-left: 0px;
}

.locations-container{
    border-right: 1px solid black;
}

.locations li{
    line-height: 30px;
    list-style: none;
}

.main-image{
    vertical-align: top;
    width: 90px;
}

.search{
    text-align: center;
}

.search #search{
    width: 30%;
    display: inline;
} 

.daily-forecast{
    padding-left: 10px;
    padding-right: 10px;
}

.weather-forecast, .weather-hourly-forecast{
    text-align: center;
    color: #000;
}

.weather-forecast-date{
    font-size: 16px;
    opacity: 0.7;
}
.weather-forecast-temperature-min{
    opacity: 0.7;
}
.weather-forecast-temperature{
    font-size: 13px;
}
.weather-forecast .col-2,
.weather-hourly-forecast .col-2:hover{
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}
.weather-forecast .col-2:hover,
.weather-hourly-forecast .col-2:hover{
    background-color: #ffe9d1;
}

